<li class="">
   <%= image_tag "20170727.jpg", alt: "2017-07-27 - New whiteboard!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 27, 2017 - Claire flying to PVG - getting some course design work done in the cave.</p>
</li>
<li class="">
   <%= image_tag "20170726.jpg", alt: "2017-07-26 - Costco!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 26, 2017 - Buying in builk at Costco with Annette</p>
</li>
<li class="">
   <%= image_tag "20170725.jpg", alt: "2017-07-25 - Driving Range!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 25, 2017 - Beautiful day to hit the range. Getting ready for the course!</p>
</li>
<li class="">
   <%= image_tag "20170724.jpg", alt: "2017-07-24 - Jays Game!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 24, 2017 - First Jays game of the year with D, A, and Nadine.</p>
</li>
<li class="">
   <%= image_tag "20170723.jpg", alt: "2017-07-23 - Epic Ping Pong!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 23, 2017 - Ended up playing for over 3 hours with D!</p>
</li>
<li class="">
   <%= image_tag "20170722.jpg", alt: "2017-07-22 - Lunch Kebobs!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 22, 2017 - Can't get enough of these steak and vegetable kebobs!</p>
</li>
<li class="">
   <%= image_tag "20170721.jpg", alt: "2017-07-21 - Annette's Bachelorette Dinner Party!", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 21, 2017 - Claire partying it up at Annette's bachelorette party!</p>
</li>
<li class="">
   <%= image_tag "20170720.jpg", alt: "2017-07-20 - Claire visiting Sheridan", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 20, 2017 - Claire went to visit Professor Jeff's place of work, Sheridan College Campus.</p>
</li>
<li class="">
   <%= image_tag "20170719.jpg", alt: "2017-07-19 - Golfing at Within Range", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 19, 2017 - Finally a day without chance of showers. Hit the range, great session with the wedges!</p>
</li>
<li class="">
   <%= image_tag "20170718.jpg", alt: "2017-07-18 - Flying the DJI Mavic Drone", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 18, 2017 - Took the drone out for a test flight at a park near Yonge & Eglinton. Having some fun with some aerial shots.</p>
</li>
<li class="">
   <%= image_tag "20170717.jpg", alt: "2017-07-17 - Working in the Cave", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 17, 2017 - Working in the Home Office Cave - designing 2 courses for Sheridan College today.</p>
</li>
<li class="">
   <%= image_tag "20170716.jpg", alt: "2017-07-16 - Derrick's Birthday Party", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 16, 2017 - Derrick's Birthday Party - Vegan dishes with a side of steak kebobs. Happy Birthday D!</p>
</li>
<li class="">
   <%= image_tag "20170715.jpg", alt: "2017-07-15 - Shopping at Galleria", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 15, 2017 - Claire and I buying groceries for Derrick's Birthday Party. Vegetables are a must for this party!</p>
</li>
<li class="">
   <%= image_tag "20170714.jpg", alt: "2017-07-14 - Dinner at Grazie", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 14, 2017 - Dinner with the In-Laws at Grazie in Toronto, celebrating our Engagement and In-Laws' Birthdays.</p>
</li>
<li>
   <%= image_tag "20170713.jpg", alt: "2017-07-13 - Annette flying drone for the first time in Antigua", :class=>'xsm-round-corner' %>
   <p class="text white-bg med-padding sm-space xsm-font xsm-round-corner-bottom">July 13, 2017 - Annette sent a photo of her flying her first drone in Antigua with Jason and Father-In-Law.</p>
</li>